* {
    margin: 0;
    padding: 0;
}

/* open sens font */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header section */
header {
    display: flex;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding: 50px 240px 0 240px;
}

.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
    padding: 32px 0;
}

.praimary-btn {
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 43px;
    background-color: #E55473;
    border: none;
    cursor: pointer;
}

/* main featured section */

.featured-section {
    max-width: 1950px;
    margin: 150px auto;
}

.featured-text {
    text-align: center;
}

.featured-images {
    display: flex;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 50px;

}

.featured {
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.featured-1 {
    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-2 {

    width: 350px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);

}

.featured-titl {
    color: #272727;
    font-weight: 800;
    font-size: 40px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0 40px 0;
}

.featured-img-title {
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    text-decoration: underline;
}

/* contact section */

.sarvice-section {
    max-width: 1180px;
    margin: 124px auto;
    background: rgba(39, 39, 39, 0.05);
}

.sarvice-icone {
    display: flex;
    gap: 150px;
    justify-content: center;
    padding: 70px;
    align-items: center;
    border-radius: 8px;
}

.icone {
    text-align: center;

}

.sarvice-icone-img {
    height: 60px;
    width: 60px;
}

/* sale section */

.sale-box {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sale-text {
    text-align: center;
}

.off-color {
    color: #E55473;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 600;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.sale-btn {
    margin-top: 32px;
}

/* instragram section */
.instagram-section {
    max-width: 1950px;
    margin: 128px auto;
}

.instagram-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.instagram-img {
    width: 270px;
    height: 300px;
}

.instagram-text {
    text-align: center;
}

.instagram-text h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.instagram-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 25px;

}

/* email-section */

.email-box {
    background-image: url(search-bg.png);
    background-repeat: no-repeat;
    max-width: 1150px;
    margin: 130px auto;
    padding: 120px;
}

.email-text {
    text-align: center;
}

.email {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid wheat;
}

.email-submit {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.submit-btn {
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
}

.email-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.email-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 18px;
}

/* fotter section */

.fotter-section {
    background-color: #111010;
    text-align: center;
    padding: 130px 0;
}

.footer-title {
    color: #E55473;

}

.footer-title-shope {
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.footer-copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}